.wrap-all-con {
    width: 100%;
}

.top-img {
    width: 100%;
    height: 300px;
    /*background-color: #484a50;*/
    background-image: url('../img/img_main_picture-big.jpg');
    background-position: center;
    background-size: cover;
}

.write-con {
    padding: 10px;
    width: 60%;
    min-width: 300px;
    margin: -150px auto;
}

.select-write-type {
    margin-bottom: 10px;
}

.write-title-con {
    margin-bottom: 10px;
}

.write-button-con {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.write-button-con > input[type='button'] {
    width: 10%;
    min-width: 100px;
}

